/* 
Global css works on all pages
 */
body{
    background-color: #f3f3f5;
    text-align: center;
    
}
a{
    color: #0062cc;
}
li{
    font-family: 'Allan';
}

/*
Private Css for Index Page
*/
.menu_item{/*Class for container of nav */
    font-size: xx-large;
}

.mainHead{/*Class for headline*/
    font-family: 'Herr Von Muellerhoff';
    font-size: 6em
    
}
 .subHead{/*Class for subHeadline*/
     font-family: 'Allan';
    font-size: 2em;
} 
.d-block{/*Class for carousel to be in center*/
    display: initial!important;
}

.carousel-control-next-icon::after/*Class for bold icon next*/{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon::after{/*Class for bold icon prev*/
  content: '<';
  font-size: 55px;
  color: black;
}
.carousel-control-next-icon {/*Class to make default icon be transparent*/
    background: transparent;
}
.carousel-control-prev-icon {/*Class to make default icon be transparent*/
    background: transparent;
}
